.activeLink {
    font: bold;
    text-decoration: none;
    color: crimson;
    font-size: 20px;
}

.inactiveLink {
    text-decoration: none;
}

.filters{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}