@supports (background: paint(houdini)) {
    @property --colorPrimary1 {
        syntax: '<color>';
        initial-value: white;
        inherits: false;
    }

    @property --colorPrimary2 {
        syntax: '<color>';
        initial-value: white;
        inherits: false;
    }
}

.productBlock {
    width: 200px;
    height: 300px;
    padding: 2px 10px;
    border-radius: 1px;
    border-right: 0.5px solid #999;
    border-left: 0.5px solid #999;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: --colorPrimary1 0.2s ease-out, --colorPrimary2 0.2s ease-out, border-bottom 0.2s ease-out, border-top 0.2s ease-out;
    background: radial-gradient(49.83% 49.83% at 50% 32.83%, var(--colorPrimary1) 0%, var(--colorPrimary2) 100%);
}

.productBlock:hover {
    cursor: pointer;
    border-radius: 1px;
    border-top: 1px solid #999;
    border-right: 0.5px solid #999;
    border-bottom: 1px solid #999;
    border-left: 0.5px solid #999;

    --colorPrimary1: rgba(28, 28, 28, 0.15);
    --colorPrimary2: rgba(28, 28, 28, 0.00);
}


.imageBlock {
    height: 166px;
    margin-bottom: 16px;
    position: relative;
}


.imageBlock>img {
    object-fit: contain;
    object-position: center;
}

.downPart {
    height: 112px;
}

.ratingBlock {
    display: flex;
    justify-content: space-between;
}

.displayFlex {
    display: flex;
}

.reviews {
    color: #777;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 12px;
}



.name {
    width: 180px;
    height: 30px;
    overflow: hidden;
    color: #272727;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    transition: color 0.15s ease-out;
}

.shortDesc {
    width: 100%;
    height: 14px;
    overflow: hidden;
}

.name:hover {
    color: #0B8A67;
}

.buyPart {
    display: flex;
    height: 19px;
    align-items: flex-end;
    justify-content: space-between;
}

.price {
    color: #272727;
    font-size: 16px;
    font-weight: 550;
}

.buyBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 11px;
    margin-left: 10px;
    border-radius: 2px;
    background: #0EA47A;
    border: 0;
}

.buyBtn:hover {
    cursor: pointer;
    background: #0B8A67;
}

.inactiveHeart {
    stroke: #0EA47A;
    stroke-width: 2;
    transition: 0.2s ease-out;
}

.inactiveHeart:hover {
    cursor: pointer;
    stroke: #0B8A67;
}

.activeHeart {
    fill: #0EA47A;
    transition: 0.2s ease-out;
}

.activeHeart:hover {
    cursor: pointer;
    fill: #0B8A67;
}
.products {
    display: flex;
    flex-direction: row;
    gap: 20px;
}